{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'forms/styles.css' %}" />

<html>
  <head>
    <title>Puppy World</title>
    <!--Link CSS-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
    <!--Link Google Icon Library-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <!--Create fixed header with puppy and globe logo in the top left-->
    <div id="header">
      <a href="address"><i class="material-icons" style="font-size:36px;float:right">business</i></a>
      <a href="phone-call"><i class="material-icons" style="font-size:36px;float:right">phone</i></a>
      <a href="email"><i class="material-icons" style="font-size:36px;float:right">mail_outline</i></a>
      <p class="contact">Contact Us: </p>
      <img src="{% static 'forms/images/Header.jpg' %}" alt="Puppy World"
        width="150" height="92">
      <h2>Puppy World!</h2>
      <p class="clear-float"></p>
    </div>
    <!--Create inivisble header so that top of the page isn't cut off-->
    <div id="invisible-header">
      <img src="images/Header.jpg" alt="Puppy World"
        width="150" height="92">
      <h2 id="top">Puppy World!</h2>
      <p class="clear-float"></p>
    </div>
    <!--Horizontal Navigation Bar at the top of the page-->
    <div id="navbar">
      <p></p>
      <ul>
        <li class="change-background"><a href="our-mission.html">Our Mission</a></li>
        <li class="change-background"><a href="our-creed.html">Our Creed</a></li>
        <li class="change-background"><a href="our-puppies.html">Our Puppies</a></li>
        <li class="change-background"><a href="our-humans.html">Our Humans</a></li>
        <li class="change-background"><a href="our-world.html">Our World</a></li>
      </ul>
      <p class="clear-float"></p>
    </div>
    <!--Beginning of the main section of the webpage-->
    <div id="main">
      <!--The main page of the website with a majority of the content-->
      <div id="content">
        <h1>Welcome to Puppy World!</h1>
        <p class="intro">This is your one stop shop for all of the furriest fluffballs that your
          little heart desires. We have anything from
          <a href="#shetland-sheepdog">Shelties</a> to
          <a href="#golden-retriever">Golden Retrievers</a> to
          <a href="#chihuahua">Chihuahuas</a>!
          So take a peek around and find yourself a new furry friend!</p>
        <p class="intro">If you want to know more, subscribe to our Kennel Klub Newsletter by
          filling out the form below!</p>
          <!--Form for joining the email group-->
        <form action="send-email.php" method="post">
          <fieldset>
            <legend>Kennel Klub!</legend>
            <br>
            <!--Ask for their first name to personalize emails-->
            <label>First Name:
              <input type="text" name="name" size="25" maxlength="40"></label>
              <br><br>
            <!--Ask for email to contact them-->
            <label>Email:
              <input type="text" name="email" size="30" maxlength="50"></label>
              <br><br>
            <!--Give Radio buttons for how they found the site-->
            How did you find us?<br>
            <input type="radio" name="found-thru" id="goo" value="Google"
              checked="checked"><label for="goo">Google</label>
            <input type="radio" name="found-thru" id="face" value="Facebook">
              <label for="face">Facebook</label>
            <input type="radio" name="found-thru" id="fri" value="Friend">
              <label for="fri">Friend</label>
            <input type="radio" name="found-thru" id="oth" value="Other">
              <label for="oth">Other</label>
            <br><br>
            <!--Drop-down for how they found the site-->
            Your State:<br>
            <i>to connect you with local shelters</i><br>
            <select name="current-state">
	             <option value="AL">Alabama</option>
               <option value="AK">Alaska</option>
               <option value="AZ">Arizona</option>
               <option value="AR">Arkansas</option>
               <option value="CA">California</option>
               <option value="CO">Colorado</option>
               <option value="CT">Connecticut</option>
               <option value="DE">Delaware</option>
               <option value="DC">District Of Columbia</option>
               <option value="FL">Florida</option>
               <option value="GA">Georgia</option>
               <option value="HI">Hawaii</option>
               <option value="ID">Idaho</option>
               <option value="IL">Illinois</option>
               <option value="IN">Indiana</option>
               <option value="IA">Iowa</option>
               <option value="KS">Kansas</option>
               <option value="KY">Kentucky</option>
               <option value="LA">Louisiana</option>
               <option value="ME">Maine</option>
               <option value="MD">Maryland</option>
               <option value="MA">Massachusetts</option>
               <option value="MI">Michigan</option>
               <option value="MN">Minnesota</option>
               <option value="MS">Mississippi</option>
               <option value="MO">Missouri</option>
               <option value="MT">Montana</option>
               <option value="NE">Nebraska</option>
               <option value="NV">Nevada</option>
               <option value="NH">New Hampshire</option>
               <option value="NJ">New Jersey</option>
               <option value="NM">New Mexico</option>
               <option value="NY">New York</option>
               <option value="NC">North Carolina</option>
               <option value="ND">North Dakota</option>
               <option value="OH">Ohio</option>
               <option value="OK">Oklahoma</option>
               <option value="OR">Oregon</option>
               <option value="PA">Pennsylvania</option>
               <option value="RI">Rhode Island</option>
               <option value="SC">South Carolina</option>
               <option value="SD">South Dakota</option>
               <option value="TN">Tennessee</option>
               <option value="TX">Texas</option>
               <option value="UT">Utah</option>
               <option value="VT">Vermont</option>
               <option value="VA">Virginia</option>
               <option value="WA">Washington</option>
               <option value="WV">West Virginia</option>
               <option value="WI">Wisconsin</option>
               <option value="WY">Wyoming</option>
             </select>
             <br><br>
             <input type="submit" value="Sign Me Up!">
           </fieldset>
        </form>
        <!--Transition to the puppy pictures-->
        <h3 id="transition"><img src="images/paw.png" alt="Paw print" width="50" height="50">
          Now on to the Puppies! <img src="images/paw.png" alt="Paw print" width="50" height="50"></h3>
        <p id="affenpinscher"></p>
        <!--Breaks inserted so that the direct link to this subheading shows all
          the info the user wants to see since the fixed header cuts off some-->
        <br><br><br><br><br><br>
        <h4 id="name">Affenpinscher</h4>
        <!--Brief description of the breeds history-->
        <p class="description">The breed is German in origin and dates back to the seventeenth century.
          The name is derived from the German Affe (ape, monkey). The breed predates
          and is ancestral to the Griffon Bruxellois (Brussels Griffon) and Miniature
          Schnauzer. Dogs of the Affenpinscher type have been known since about 1600,
          but these were somewhat larger, about 12 to 13 inches, and came in colors
          of gray, fawn, black and tan and also red. White feet and chest were also common.
          The breed was created to be a ratter, working to remove rodents from kitchens,
          granaries, and stables.</p>
        <!--Images of the puppies of this breed-->
        <img id="pics" src="images/affenpinscher.jpg" alt="Affenpinscher puppies"
          width="450" height="225">
          <a class="to-the-top" href="#top">Jump to the top of the page</a>
        <!--Move to the next breed-->
        <p id="airedale-terrier"></p>
        <br><br><br><br><br><br>
        <h4 id="name">Airedale Terrier</h4>
        <p class="description"> The Airedale Terrier (often shortened to "Airedale"), also called Bingley
          Terrier and Waterside Terrier, is a dog breed of the terrier type that originated
          in the valley (dale) of the River Aire, in the West Riding of Yorkshire, England.
          It is traditionally called the "King of Terriers" because it is the largest of the
          terrier breeds. The Airedale was bred from a Welsh Terrier and an Otterhound and
          probably some other Terrier breeds, originally to hunt otters. In Britain this
          breed has also been used as a war dog, guide dog and police dog.</p>
        <img id="pics" src="images/airedale-terrier.jpg" alt="Airedale Terrier puppies"
          width="460" height="320">
        <img id="pics" src="images/airedale-terrier-2.jpg" alt="Airedale Terrier puppies"
          width="455" height="320">
        <a class="to-the-top" href="#top">Jump to the top of the page</a>
        <p id="akita"></p>
        <br><br><br><br><br><br>
        <h4 id="name">Akita</h4>
        <p class="description">The Akita (秋田犬 Akita-inu, Akita-ken) is a large breed of dog originating
          from the mountainous northern regions of Japan. There are two separate varieties
          of Akita: a Japanese strain, commonly called "Akita Ken" in Japan, "Akita Inu"
          ("inu" means "dog" in Japanese), or "Japanese Akita"; and an American strain,
          known as the "Akita" or "American Akita". The Japanese strain called the
          Akita Inu comes in a narrow palette of colors, with all other colors considered
          atypical of the breed, while the American strain known simply as the akita comes
          in all dog colors. The Akita has a short double-coat similar to that of many
          other northern spitz breeds such as the Siberian Husky, but long-coated dogs
          can be found in many litters due to a recessive gene.</p>
        <img id="pics" src="images/akita.jpg" alt="Akita puppies" width="300" height="300">
        <img id="pics" src="images/akita-2.jpg" alt="Akita puppies" width="430" height="300">
        <img id="pics" src="images/akita-3.jpg" alt="Akita puppies" width="639" height="360">
        <a class="to-the-top" href="#top">Jump to the top of the page</a>
        <p id="chihuahua"></p>
        <br><br><br><br><br><br>
        <h4 id="name">Chihuahua</h4>
        <p class="description">Chihuahuas are the smallest breed recognized by some kennel clubs. There
          are two varieties of Chihuahua – the Smooth Coat (short haired) and the Long
          Coat. Both the Smooth and the Long Coats have their special attractions,
          are equally easy to keep clean and well groomed. The UK Kennel Club considers
          smooth and long coated Chihuahuas two distinct breeds, matings between the
          two are not eligible for KC registration.</p>
        <img id="pics" src="images/chihuahua.jpg" alt="Chihuahua puppies" width="237" height="212">
        <img id="pics" src="images/chihuahua-2.jpg" alt="Chihuahua puppies" width="275" height="183">
        <a class="to-the-top" href="#top">Jump to the top of the page</a>
        <p id="golden-retriever"></p>
        <br><br><br><br><br><br>
        <h4 id="name">Golden Retriever</h4>
        <p class="description">The Golden Retriever is a large-sized breed of dog bred as gun dogs to retrieve
          shot waterfowl such as ducks and upland game birds during hunting and shooting
          parties, and were named 'retriever' because of their ability to retrieve shot game
          undamaged. Golden Retrievers have an instinctive love of water, and are easy to train
          to basic or advanced obedience standards. They are a long-coated breed, with a dense
          inner coat that provides them with adequate warmth in the outdoors, and an outer coat
          that lies flat against their bodies and repels water. Golden Retrievers are well
          suited to residency in suburban or country environments. Although they need
          substantial outdoor exercise, they should be housed in a fenced area because of
          their instinctual tendency to roam. They shed copiously, particularly at the
          change of seasons, and require fairly regular grooming.</p>
        <img id="pics" src="images/golden-retriever.jpg" alt="Golden Retriever puppies" width="243" height="207">
        <img id="pics" src="images/golden-retriever-2.jpg" alt="Golden Retriever puppies" width="225" height="225">
        <img id="pics" src="images/golden-retriever-3.jpg" alt="Golden Retriever puppies" width="276" height="183">
        <img id="pics" src="images/golden-retriever-4.jpg" alt="Golden Retriever puppies" width="269" height="187">
        <img id="pics" src="images/golden-retriever-5.jpg" alt="Golden Retriever puppies" width="318" height="159">
        <a class="to-the-top" href="#top">Jump to the top of the page</a>
        <p id="shetland-sheepdog"></p>
        <br><br><br><br><br><br>
        <h4 id="name">Shetland Sheepdog</h4>
        <p class="description">The Shetland Sheepdog, also known as the Sheltie, is a breed of herding dog. The
          original name of this breed was Shetland Collie, but this caused controversy
          among the Rough Collie breeders at the time, so the breed's name was formally
          changed to Shetland Sheepdog. This small dog is intelligent, vocal, excitable,
          energetic and willing to please and work hard. The breed was formally recognized
          by The Kennel Club in 1909. The Shetland Sheepdog's early history is not well
          known. Although of obscure origin, what is known is that the Sheltie is a direct
          descendant of the Collie. The Sheltie is a descendant of small specimens of the
          Scottish Collie and the King Charles Spaniel. It was developed to tend the
          diminutive sheep of the Shetland Islands, whose rugged, stormy shores have
          produced other small-statured animals such as the Shetland pony. Today it is
          raised as a farm dog and family pet. They were originally a small mixed-breed
          dog, often only about 8 inches to 12 inches in height at the shoulder, and
          it is thought that the original Shetland herding dogs were of the Spitz type,
          and were crossed with Collies from mainland Britain. In the early 20th century,
          James Loggie added a small Rough Collie to the breeding stock, and helped establish
          what would become the modern Shetland sheepdog.</p>
        <img id="pics" src="images/sheltie.jpg" alt="Sheltie puppies" width="272" height="185">
        <img id="pics" src="images/sheltie-2.jpg" alt="Sheltie puppies" width="225" height="224">
        <img id="pics" src="images/sheltie-3.jpg" alt="Sheltie puppies" width="202" height="238">
        <img id="pics" src="images/sheltie-4.jpg" alt="Sheltie puppies" width="276" height="183">
        <img id="pics" src="images/sheltie-5.jpg" alt="Sheltie puppies" width="251" height="201">
        <img id="pics" src="images/sheltie-6.jpg" alt="Sheltie puppies" width="183" height="276">
        <a class="to-the-top" href="#top">Jump to the top of the page</a>
      </div>
      <!--Create the sidebar that lists out every dog breed on the site-->
      <div id="sidebar">
        <h5>Quickly find your pup of choice here!</h5>
          <ul id="list">
            <li><a href="#affenpinscher">Affenpinscher</a></li>
            <li><a href="#airedale-terrier">Airedale Terrier</a></li>
            <li><a href="#akita">Akita</a></li>
            <li><a href="#alaskan-malamute">Alaskan Malamute</a></li>
            <li><a href="#alpine-spaniel">Alpine Spaniel</a></li>
            <li><a href="#american-bulldog">American Bulldog</a></li>
            <li><a href="#anatolian-shepherd">Anatolian Shepherd</a></li>
            <li><a href="#australian-cattle-dog">Australian Cattle Dog</a></li>
            <li><a href="#australian-shepherd">Australian Shepherd</a></li>
            <li><a href="#australian-terrier">Australian Terrier</a></li>
            <li><a href="#basset-hound">Basset Hound</a></li>
            <li><a href="#beagle">Beagle</a></li>
            <li><a href="#bernese-mountain-dog">Bernese Mountain Dog</a></li>
            <li><a href="#bloodhound">Bloodhound</a></li>
            <li><a href="#blue-heeler">Blue Heeler</a></li>
            <li><a href="#border-collie">Border Collie</a></li>
            <li><a href="#boston-terrier">Boston Terrier</a></li>
            <li><a href="#boxer">Boxer</a></li>
            <li><a href="#bulldog">Bulldog</a></li>
            <li><a href="#chihuahua">Chihuahua</a></li>
            <li><a href="#chow-chow">Chow Chow</a></li>
            <li><a href="#corgi">Corgi</a></li>
            <li><a href="#coton-de-tulear">Coton de Tulear</a></li>
            <li><a href="#dachshund">Dachshund</a></li>
            <li><a href="#dalmatian">Dalmatian</a></li>
            <li><a href="#doberman-pinscher">Doberman Pinscher</a></li>
            <li><a href="#english-cocker-spaniel">English Cocker Spaniel</a></li>
            <li><a href="#english-mastiff">English Mastiff</a></li>
            <li><a href="#french-bulldog">French Bulldog</a></li>
            <li><a href="#german-shepherd">German Shepherd</a></li>
            <li><a href="#golden-retriever">Golden Retriever</a></li>
            <li><a href="#great-dane">Great Dane</a></li>
            <li><a href="#great-pyrenees">Great Pyrenees</a></li>
            <li><a href="#greyhound">Greyhound</a></li>
            <li><a href="#icelandic-sheepdog">Icelandic Sheepdog</a></li>
            <li><a href="#irish-setter">Irish Setter</a></li>
            <li><a href="irish-wolfhound">Irish Wolfhound</a></li>
            <li><a href="#jack-russell-terrier">Jack Russell Terrier</a></li>
            <li><a href="#king-charles-spaniel">King Charles Spaniel</a></li>
            <li><a href="#labrador-retriever">Labrador Retriever</a></li>
            <li><a href="#maltese">Maltese</a></li>
            <li><a href="#newfoundland">Newfoundland</a></li>
            <li><a href="#old-english-sheepdog">Old English Sheepdog</a></li>
            <li><a href="#pointer">Pointer</a></li>
            <li><a href="#pomeranian">Pomeranian</a></li>
            <li><a href="#poodle">Poodle</a></li>
            <li><a href="#pug">Pug</a></li>
            <li><a href="#rat-terrier">Rat Terrier</a></li>
            <li><a href="#rottweiler">Rottweiler</a></li>
            <li><a href="#samoyed">Samoyed</a></li>
            <li><a href="#schipperke">Schipperke</a></li>
            <li><a href="#shar-pei">Shar Pei</a></li>
            <li><a href="#shetland-sheepdog">Shetland Sheepdog</a></li>
            <li><a href="#shiba-inu">Shiba Inu</a></li>
            <li><a href="#shih-tzu">Shih Tzu</a></li>
            <li><a href="#siberian-husky">Siberian Husky</a></li>
            <li><a href="#st-bernard">St. Bernard</a></li>
            <li><a href="#staffordshire-bull-terrier">Staffordshire Bull Terrier </a></li>
            <li><a href="#swedish-vallhund">Swedish Vallhund</a></li>
            <li><a href="#welsh-terrier">Welsh Terrier</a></li>
            <li><a href="#yorkshire-terrier">Yorkshire Terrier</a></li>
          </ul>
      </div>
      <div class="clear-float"></div>
    </div>
  </body>
</html>
