.jumbotron {

	background-color:#2f3f4f;
	color:lightgrey;
}
/* Adds borders for tabs */
.tab-content {

	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs {

	margin-bottom: 0;
}

#Register {
	width: 50%;
}
.back {
	text-align: center;
}