.jumbotron {
            background-color: #2f3f4f;
            color: lightgrey;
        }
        /* Adds borders for tabs */
        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
        .page-header {
            text-align: center;
        }
        .nav-tabs {
            margin-bottom: 0;
        }

        .navbar-custom {
            background-color: indianred;
            margin: 0 15px 0 15px;
            color: white;
        }

        .center {
            text-align: center;
            margin-top: 0px;

            
        }
        .fix {
            display: inline-block;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        .bottom {
            margin-bottom: 0px;
            text-align: center;

        }
        .large {
            font-size: 1.25em;
        }

        tr {
            color: black;
        }
        .signout_panel > a {
    float: left;
}