<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/forms/addexpense.css">

</head>
<body>
    <div class="container">
        <div class="page-header">
        {% include 'signout_panel.html' %}
            <h1 class='center'>Select An Expense Type</h1>
        </div>
        <div class="jumbotron">
            <p>
                <div>
                    <h2 class="center">Trip Name</h2>
                </div>
                <div class="container">
                <div class="row">
                        <a href="/forms/addmeal/" class="btn btn-danger btn-block" role="button">Meal</a>
                </div><br>
                  <div class="row">
                        <a href="/forms/dailyexpenses/" class="btn btn-danger btn-block" role="button">Daily Expenses</a>
                  </div><br>
                <div class="row">
                        <a href="/forms/personalcar/" class="btn btn-danger btn-block" role="button">Personal Car</a>
                </div><br>
                  <div class="row">
                        <a href="/forms/transportation/" class="btn btn-danger btn-block" role="button">Public Transportation</a>
                  </div><br>

                    <div class="row">
                        <a href="/forms/registrationfees/" class="btn btn-danger btn-block" role="button">Registration Fees</a>
                      </div><br>
                      
                      <div class="row">
                        <a href="/forms/addfinancial/" class="btn btn-danger btn-block" role="button">Cost Center / Internal Order</a>
                    </div><br>

        </div>
        </p>
    </div>
    </div>
</body>
</html>
