<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/JavaScript">
  function popupError() {
    alert("The date you entered is outside of your trip date range.");
  }
  function existError() {
    alert("An expense for that date and category already exists. Go to the expense list page if you need to make any changes.");
  }
  function tipError() {
  	alert("A tip must not exceed 20% of the meal total.");
  }
	function zeroError() {
  	alert("The amount entered must be greater than 0 dollars.");
  }
</script>
<link rel="stylesheet" href="/static/forms/addmeal.css">
</head>
<body {% if popuperror %} onload="popupError()" {% endif %} {% if existerror %} onload="existError()" {% endif %} {% if tiperror %} onload="tipError()" {% endif %} {% if zeroerror %} onload="zeroError()" {% endif %}>
	<div class="container">
	<div class="page-header">
		{% if edit %}
		{% include 'expenseedit_panel.html' %}
		{% else %}
		{% include 'expense_panel.html' %}
		{% endif %}

	<br />
	<h1>Add A Meal!</h1>
	</div>
	<div class="jumbotron">
<!-- Tells browser to return the form data to the URL /forms/, using the POST method. -->
	<p>Fill Out The Following Fields
	</p>
	<p>
	{% if edit %}
	<form id="createEmployee" action="/forms/editexpense/" method="POST">
	{% else %}
	<form id="createEmployee" action="/forms/addmeal/" method="POST">
	{% endif %}
{% csrf_token %}
{% load widget_tweaks %}
{{ form.media }}
		<div class="dropdown">
				{{ form.Meal_Category|add_class:"form-control" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">Cost</span>
				{{ form.Cost|add_class:"form-control"|attr:"placeholder:Cost Without Tip"  }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Tip</span>
				{{ form.Tip|add_class:"form-control"|attr:"placeholder:Tip"  }}
		</div></br>

		<!-- <input type="hidden" name="Added" id="Added_ID" value="{{ timestamp.Added }}" /> -->
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Date</span>
				{{ form.Date|add_class:"form-control" }}
		</div><br>

		<input type="hidden" name="Trip_ID" id="id_Trip_ID" value="{{ active }}" />
		<input type="hidden" name="PCategory" id="id_PCategory" value="Meal" />
	<div class="form-input submit-button">
		{% if edit %}
		<input type='hidden' name="Meal_ID" value="{{ record }}"/>
		{% endif %}

		<button type="submit" class="btn btn-danger" value="true">Submit Form</button>
	</div>
	</form>
</p>
</div>
</div>
</body>
{% if form.Date.errors %}
    <ul class='form-errors'>
        {% for error in form.Date.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</html>
