<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Register Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/forms/addmeal.css">

<body>
	<div class="container">
	<div class="page-header">
	<h1>Add A Meal!</h1>
	</div>
	<div class="jumbotron">
<!-- Tells browser to return the form data to the URL /forms/, using the POST method. -->
	<p>Meal Expense
	</p>
	<p>
	<form id="createEmployee" action="/forms/addmeal/" method="POST">
{% csrf_token %}
{% load widget_tweaks %}
		<div class="dropdown">
				{{ form.Meal_Category|add_class:"form-control" }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Date</span>
				{{ form.Date|add_class:"form-control" }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Meal Before Tip</span>
				{{ form.Meal_No_Tip|add_class:"form-control" }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Meal After Tip</span>
				{{ form.Meal_Tip|add_class:"form-control" }}
		</div></br>

		<input type="hidden" name="Trip_ID" id="id_Trip_ID" value="{{ active }}" />
	<div class="form-input submit-button">
		<button type="submit" class="btn btn-danger" value="true">Submit Form</button>
	</div>
	</form>
</p>
</div>
</div>
</body>
