<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Trip Page</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
.jumbotron {

	background-color:#2f3f4f;
	color:lightgrey;
}
/* Adds borders for tabs */
.tab-content {

	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs {

	margin-bottom: 0;
}
</style>

</head>
</head>
<body>

<div class="container">

<div class="page-header">
<h1>Trip Page</h1>
</div>

<div class="jumbotron">

	<p>Trip</p>

    <p>
    <form id="createEmployee" action="/forms/trip/" method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="input-group input-group-sm">
        <span class="input-group-addon">SAP ID</span>
         {{ form.User_id|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Place</span>
         {{ form.Place|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Purpose</span>
        {{ form.Purpose|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Date Left</span>
        {{ form.Date_Left|add_class:"form-control" }}
    </div><br>

     <div class="input-group input-group-sm">
        <span class="input-group-addon">Time Left</span>
        {{ form.Date_Returned|add_class:"form-control" }}
    </div><br>

         <div class="input-group input-group-sm">
        <span class="input-group-addon">Date Returned</span>
        {{ form.Time_Left|add_class:"form-control" }}
    </div><br>

         <div class="input-group input-group-sm">
        <span class="input-group-addon">Time Returned</span>
        {{ form.Time_Returned|add_class:"form-control" }}
    </div><br>

         <div class="input-group input-group-sm">
        <span class="input-group-addon">Contact Person</span>
        {{ form.Contact_Person|add_class:"form-control" }}
    </div><br>
        <div class="form-input submit-button">
        <button type="submit" class="btn btn-danger" value="true">Submit Form</button>
    </div>
   </form>
    </p>

</div>

</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
