<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Trip Page</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/forms/addtrip.css">

</head>
<body>

<div class="container">

<div class="page-header">
{% include 'signout_panel.html' %}
<h1 class='center'>Add A Trip!</h1>
</div>

<div class="jumbotron">

	<p>Trip</p>

    <p>
    <form id="createEmployee" action="/forms/addtrip/" method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}

       <!--   <div class="input-group input-group-sm">
        <span class="input-group-addon">SAP ID</span>
        <input type="text" disabled value="{{ user.username }}">
    </div><br> -->
    <input type="hidden" name="Username" id="id_Username" value="{{ user.id }}" />

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Department</span>
         {{ form.Department|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Place</span>
         {{ form.Place|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Purpose</span>
         {{ form.Purpose|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Date Departed (MM-DD-YY)</span>
        {{ form.Date_Left|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Time Departed (H:M)</span>
        {{ form.Time_Left|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Date Returned (MM-DD-YY)</span>
        {{ form.Date_Returned|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Time Returned (HH:MM)</span>
        {{ form.Time_Returned|add_class:"form-control" }}
    </div><br>

    <div class="input-group input-group-sm">
        <span class="input-group-addon">Contact Person</span>
        {{ form.Contact_Person|add_class:"form-control" }}
    </div><br>

	<input type="hidden" name="Is_Active" id="Trip_Is_Active" value="True" />

        <div class="form-input submit-button">
        <button type="submit" class="btn btn-danger" value="true">Submit Form</button>
    </div>
   </form>
    </p>

</div>

</div>


{% if form.Username.errors %}
    <ul class='form-errors'>
        {% for error in form.Username.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% if form.is_active.errors %}
    <ul class='form-errors'>
        {% for error in form.is_active.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
