<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main Page</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/forms/triplist.css">

</head>

<body>

    <div class="container">

        <div class="page-header">
        {% include 'signout_panel.html' %}
        <br />
            <h1>Your Expenses!</h1>
        </div>

        <div class="jumbotron">

            <p>

                <div class="panel panel-default">
                    <!-- Default panel contents containg Recent Expenses-->
                    <div class="panel-heading">All Expenses for Trip to {{ active.Place }}</div>

                    <!-- Table for Recent Expenses-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class='center'>Date</th>
                                <th class='center'>Category</th>
                                <th class='center'>Cost</th>
                                <th class='center'>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for name in recent %}
                          <div>
                           <td>{{ name.Date|date:"m/d/y" }}</td>
                           {% if name.meal %}
                           <td> {{ name.meal.Meal_Category }}</td>
                           {% elif name.dailyexpenses %}
                           <td> {{ name.dailyexpenses.Category }}</td>
                           {% elif name.registrationfees %}
                           <td> {{ name.registrationfees.Category }}</td>
                           {% elif name.financial %}
                           <td>{{ name.financial.Category }}</td>
                           {% else %}
                           <td> {{ name.transportation.Category }}</td>
                           {% endif %}
                           <td>${{ name.Cost|floatformat:2 }}</td>

                            <td class="bottom"><div class='btn-toolbar fix'><a href='/forms/editexpense?id={{ name.id }}&category={{ name.PCategory }}' id='Home_Page' class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                             <a href='/forms/deleteexpense?id={{ name.id }}' id='Home_Page' class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                             </div></td>
                           <tr></tr>
                          </div>{% endfor %}

                          <diV>
                          <td> {{ category }}</td>
                          <td> {{ na }}</td>
                          <td> {{ na }}</td>
                          <td> {{ na }}</td>
                          </diV>
                        </tbody>
                    </table>
                </div>
                <p><span class='glyphicon glyphicon-wrench' aria-hidden='true'></span> = Edit Expense</p>
                <p><span class='glyphicon glyphicon-trash' aria-hidden='true'></span> = Delete Expense</p>
                <p>

        </div>
        </p>

    </div>
    </div>



</body>
</html>
