<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Daily Expenses Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/forms/finalconfirm.css">
<body>

<div class="container">

<div class="page-header">
<h1>Your Trip Has Been Finalized!</h1>


</div>

<div class="jumbotron">

	<h3 class="text">Please Select One Of The Following Options</h3>

    <p>
		<a href='/forms/' id='Home_Page' class="btn btn-danger large center" role="button"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Generate Report</a>
    </p>
    <p>
    <a href='/forms/' id='Home_Page' class="btn btn-danger large center" role="button"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Return Home</a>
    </p>

    <h5 class="text">This report will still be accessible in the future, from the 'Your Trips' tab on the main page!</h5>

</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
