<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, intitial-scale=1.0">

<title>Main Page</title>
<script type="text/JavaScript">
  function popupError() {
    alert("Please Activate a Trip to Proceed.");
  }
  function popupError2() {
    alert("Please Finalize a Trip Before Adding a New One");
  }
</script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/forms/main.css">

</head>

<body>


<div class="container">
<div class="page-header">
{% include 'signout_panel.html' %}
<br />
<h1>Welcome {{ name }}!</h1>
</div>

<div class="jumbotron">

    <p>
        <!--Current Trip Button-->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                 <a href="/forms/trip/" class="btn btn-danger large" role="button"
                 {% if popuperror %} onclick="popupError()" {% endif %}>Your Current Trip:<br />{{ trip }}{{ active.Place }}</a>
            </div>
        </div><br />

        <div class="panel panel-default">
            <!-- Default panel contents containg Recent Expenses-->
            <div class="panel-heading">Your Most Recent Expenses</div>

            <!-- Table for Recent Expenses-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class='center'>Category</th>
                        <th class='center'>Date</th>
                        <th class='center'>Cost</th>
                    </tr>
                </thead>
                <tbody>
                        {% for expense in recent %}
                          <div>
                                {% if expense.meal %}
                           <td> {{ expense.meal.Meal_Category }} </td>
                                {% elif expense.dailyexpenses %}
                            <td>{{ expense.dailyexpenses.Category }}</td>
                              {% else %}
                            <td>{{ expense.registrationfees.Category }}</td>
                                {% endif %}
                                

                           <td> {{ expense.Date|date:"m/d/y" }} </td>
                           <td> ${{ expense.Cost|floatformat:2 }} </td>
                           <tr></tr>
                          </div>
                        {% endfor %}

                        <div>
                        <td>{{ category }}</td>
                        <td>{{ na }}</td>
                        <td>{{ na }}</td>
                        </div>
                </tbody>
            </table>
            </div>

            <div>
                <tr></tr>
            </div>

        <!--Trip Management-->
        <div>
            <h2 class="center">Trip Management</h2><br />
        </div>

        <!--Trip Management Buttons-->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <!-- <button type="button" class="btn btn-danger"> -->

                   <a href="/forms/addtrip" class="btn btn-danger" role="button" {% if popuperror2 %} onclick="popupError2()" {% endif %}> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Trip</a>

            </div>
            <div class="btn-group" role="group">
               <a href="/forms/triplist" class="btn btn-danger" role="button"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Your Trips</a>
            </div>
        </div><br />

        <!--Reports-->
        <div>
            <h2 class="center">Reports</h2>
        </div>

        <!--Report Button - Generate Expense Report-->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Generate Expense Report</button>
            </div>
        </div>

        </div>
</p>

</div>

</div>

</body>

</html>
