<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Personal Car Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/JavaScript">
  function popupError() {
    alert("The date you entered is outside of your trip date range.");
  }
</script>
<link rel="stylesheet" href="/static/forms/transportation.css">

<body {% if popuperror %} onload="popupError()" {% endif %}>
	<div class="container">
	<div class="page-header">
		{% if edit %}
		{% include 'expenseedit_panel.html' %}
		{% else %}
		{% include 'expense_panel.html' %}
		{% endif %}
	<br />
	<h1>Add A Car Expense!</h1>
	</div>
	<div class="jumbotron">
<!-- Tells browser to return the form data to the URL /forms/, using the POST method. -->
	<p>Fill Out The Following Fields</p>
	</p>
	<p>
	{% if edit %}
	<form id="createEmployee" action="/forms/editexpense/" method="POST">
	{% else %}
	<form id="createEmployee" action="/forms/personalcar/" method="POST">
	{% endif %}
{% csrf_token %}
{% load widget_tweaks %}
{{ form.media }}
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Mileage</span>
				{{ form.Mileage|add_class:"form-control"|attr:"placeholder:Mileage" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">From</span>
				{{ form.From|add_class:"form-control"|attr:"placeholder:From" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">To</span>
				{{ form.To|add_class:"form-control"|attr:"placeholder:To" }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Amount</span>
				{{ form.Cost|add_class:"form-control"|attr:"placeholder:Amount" }}
		</div><br>
		<div class="input-group input-group-sm">
		<span class="input-group-addon">Date</span>
				{{ form.Date|add_class:"form-control"}}
		</div><br>

		<input type="hidden" name="Trip_ID" id="id_Trip_ID" value="{{ active }}" />
		<input type="hidden" name="PCategory" id="id_PCategory" value="PersonalCar" />
		<input type="hidden" name="Category" id="id_Category" value="Personal Car"/>
	<div class="form-input submit-button">
		{% if edit %}
		<input type='hidden' name="PersonalCar_ID" value="{{ record }}"/>
		{% endif %}

		<button type="submit" class="btn btn-danger" value="true">Submit Form</button>
	</div>
	</form>
</p>
</div>
</div>
</body>
