<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Register Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/forms/register.css">

<body>
	<div class="container">
	<div class="page-header">
	<h1>Register Page</h1>
	</div>
	<div class="jumbotron">
<!-- Tells browser to return the form data to the URL /forms/, using the POST method. -->
	<p>Register</p>
	<p>
	<form id="createEmployee" action="/forms/register/" method="POST">
{% csrf_token %}
{% load widget_tweaks %}
		<div class="input-group input-group-sm">
		<span class="input-group-addon">SAP ID</span>
			{{ form.username|add_class:"form-control" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">Password</span>
			{{ form.password|add_class:"form-control"|attr:"type:password" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">First Name</span>
				{{ form.first_name|add_class:"form-control" }}
		</div><br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">Last Name</span>
				{{ form.last_name|add_class:"form-control" }}
		</div></br>

		<div class="input-group input-group-sm">
		<span class="input-group-addon">Email</span>
				{{ form.email|add_class:"form-control" }}
		</div><br>

	<div class="form-input submit-button">
		<button type="submit" class="btn btn-danger" value="true">Submit Form</button>
	</div>
	</form>
</p>
</div>
</div>
</body>
