<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main Page</title>
    <script type="text/JavaScript">
      function popupError() {
        alert("Invalid entry and/or selection.");
      }
      function deleteconfirm() {
        var x = confirm("Are you sure you want to delete")
        if (x)
          return true;
        else
          return false;
      }
    </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/forms/triplist.css">

</head>

<body>
    <div class="container">
        <div class="page-header">
        {% include 'signout_panel.html' %}
        <br />
            <h1>Your Trips!</h1>
        </div>
        <div class="jumbotron">
            <p>
                <div class="panel panel-default">
                    <!-- Default panel contents containg Recent Expenses-->
                    <div class="panel-heading">{{ none }} {{ name }}</div>
                    <!-- Table for Recent Expenses-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class='center'>Place</th>
                                <th class='center'>Departed</th>
                                <th class='center'>Current Trip?</th>
                                <th class='center'>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if trips %}
                        {% for name in trips %}
                          <div>

                           <td>
                           {% if name.Is_Active == 'True' %}
                           <a href="/forms/expenselist?id={{ name.Trip_ID}}">{{ name.Place }} </a>**
                           {% else %}
                           {{ name.Place }}
                           {% endif %}

                           </td>
                           <td>
                           {{ name.Date_Departed|date:'m/d/y'}}
                           </td>

                           {% if name.Is_Active == 'True' %}
                                <td>Yes</td>
                           {% else %}
                                <td>No</td>

                            {% endif %}

                            {% if name.Is_Active == 'True' %}
                            <td class="bottom"><div class='btn-toolbar fix'>
                            <a href='/forms/edittrip/' id='Home_Page' class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                             <a href='/forms/deletetrip?id={{ name.Trip_ID }}' id='Home_Page' onclick="return deleteconfirm()"  class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                             {% else %}
                              <td class="bottom"><div class='btn-toolbar fix'>
                            <a href='/forms/activate?id={{ name.Trip_ID }}' id='Home_Page' class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-open" aria-hidden="true"></span></a>

                            <a href='/forms/deletetrip?id= {{ name.Trip_ID }}' id='Home_Page' onclick="return deleteconfirm()" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                             {% endif %}


                             </div></td>
                           <tr></tr>
                          </div>{% endfor %}


                        </tbody>
                    </table>
                </div>

                <p><span class='glyphicon glyphicon-open' aria-hidden='true'></span> = Activate Trip</p>
                <p><span class='glyphicon glyphicon-wrench' aria-hidden='true'></span> = Edit Trip*</p>
                <p><span class='glyphicon glyphicon-trash' aria-hidden='true'></span> = Delete Trip</p>
                <h5>*Please note that a trip must be active to be able to edit.</h5>
                <h5>**Click on the active trip hyperlink to look at that trip's expenses.</h5>

        </div>
        </p>
          {% else %}
                          <div>
                          <td> {{ place }}</td>
                          <td> {{ na }}</td>
                          <td> {{ na }}</td>
                        </div>
                        </tbody>
                        </table>
                        </div>
                        <p> You Have No Trips, Add One:</p>

                        <a href='/forms/addtrip' id='adde' class="btn btn-danger large" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Trip</a>
                {% endif %}
    </div>
    </div>



</body>
</html>
