<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main Page</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/forms/trip.css">

</head>

<body>

    <div class="container">

        <div class="page-header">
        {% include 'signout_panel.html' %}
        <br />
            <h1>Current Trip!</h1>
        </div>

        <div class="jumbotron">

            <p>
                <div>
                    <h2 class="center">{{ active.Place }}!</h2>
                    <h4 class="center">{{ active.Purpose }}!</h4>
                </div>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">

                            <a href="/forms/addexpense/" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Expense</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="/forms/expenselist/" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Your Expenses</a>
                    </div>
                </div><br />

                <div class="panel panel-default">
                    <!-- Default panel contents containg Recent Expenses-->
                    <div class="panel-heading">Most Recent Food Expenses</div>

                    <!-- Table for Recent Expenses-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class='center'>Date</th>
                                <th class ='center'>Category</th>
                                <th class='center'>Cost (No Tip)</th>
                                <th class='center'>Tip</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for name in recent %}
                          <div>
                           <td> {{ name.Date|date:"m/d/y" }} </td>
                           <td> {{ name.Meal_Category }} </td>
                           <td> ${{ name.Cost|floatformat:2 }} </td>
                           <td> ${{ name.Tip|floatformat:2 }}</td>
                           <tr></tr>
                          </div>{% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <!-- Default panel contents containg Recent Expenses-->
                    <div class="panel-heading">Most Recent Daily Expenses</div>

                    <!-- Table for Recent Expenses-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class='center'>Date</th>
                                <th class='center'>Category</th>
                                <th class='center'>Cost</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for exp in recentexp %}
                        <div>
                            <td> {{ exp.Date|date:"m/d/y" }} </td>
                            <td> {{ exp.Category }} </td>
                           <td> ${{ exp.Cost|floatformat:2 }} </td>

                           <tr></tr>
                        </div>{% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                        <a href='/forms/finalize/' id='Finalize' class="btn btn-danger large" role="button"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Finalize Trip</a>
                    </div>
                    </div>

        </div>
        </p>

    </div>
    </div>



</body>
</html>
